*
!/*/
!/.github/**
!/.vscode/**
!/.yarn/patches/
!/.yarn/patches/**
!/.yarn/plugins/
!/.yarn/plugins/**
!/.yarn/releases/
!/.yarn/releases/**
!/.yarn/sdks/
!/.yarn/sdks/**
!/.yarn/versions/
!/.yarn/versions/**
!/.yarn/cache/
!/.yarn/cache/**
!/firmware/**
!/packages/**
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.nvmrc
!/.pnp.cjs
!/.pnp.loader.mjs
!/.yarnrc.yml
!/commitlint.config.js
!/package.json
!/tsconfig.json
!/yarn.lock
