*
!/*/
!/.github/**
!/.vscode/**
!/.yarn/patches/
!/.yarn/patches/**
!/.yarn/plugins/
!/.yarn/plugins/**
!/.yarn/releases/
!/.yarn/releases/**
!/.yarn/sdks/**
!/.yarn/versions/
!/.yarn/versions/**
!/executables/**
!/firmware/**
!/packages/**
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.nvmrc
!/.pnp.cjs
!/.pnp.loader.mjs
!/.yarnrc.yml
!/commitlint.config.js
!/package.json
!/tsconfig.json
!/yarn.lock

# Ignore .yarn directory except releases
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/patches
!.yarn/versions

# Ignore build and dist directories
**/build/
**/dist/

# Ignore .secrets file for act
.secrets
.actrc
