name: Build & Release Electron App

on:
  push:
    branches:
      - master
      - release-candidate
      - release-candidate-*
      - feature-*
  workflow_dispatch:

jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
      - name: Checkout
        uses: nschloe/action-cached-lfs-checkout@v1
        with:
          submodules: true
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - name: Restore Cached Electron Bundles
        id: restore-cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/electron
            ~/Library/Caches/electron
            ~/AppData/Local/electron/Cache
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}
      - name: Yarn Install
        run: yarn install --immutable --immutable-cache
      - name: Yarn Build
        run: yarn build
      - name: Upload Built App
        uses: actions/upload-artifact@v3
        with:
          name: app-build-dir-${{ runner.os }}
          path: packages/keepkey-desktop/build/
          if-no-files-found: error
      - name: Mac - Prepare For App Notarization
        if: startsWith(matrix.os, 'macos')
        # Import Apple API key for app notarization on macOS
        run: |
          mkdir -p ~/private_keys/
          echo '${{ secrets.api_key }}' > ~/private_keys/AuthKey_${{ secrets.api_key_id }}.p8
      - name: Linux - Publish packages
        if: startsWith(matrix.os, 'ubuntu')
        run: yarn publish
        env:
          YARN_NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Linux - Build Electron App
        if: startsWith(matrix.os, 'ubuntu')
        run: yarn run release
        env:
          NODE_ENV: production
          GH_TOKEN: ${{ secrets.github_token }}
      - name: Mac - Build Electron App
        if: startsWith(matrix.os, 'macos')
        run: yarn run release
        env:
          NODE_ENV: production
          GH_TOKEN: ${{ secrets.github_token }}
          CSC_LINK: ${{ secrets.mac_certs }}
          CSC_KEY_PASSWORD: ${{ secrets.mac_certs_password }}
          # macOS notarization API key
          API_KEY_ID: ${{ secrets.api_key_id }}
          API_KEY_ISSUER_ID: ${{ secrets.api_key_issuer_id }}
      - name: Windows - Build Electron App
        if: startsWith(matrix.os, 'windows')
        run: yarn run release
        env:
          NODE_ENV: production
          GH_TOKEN: ${{ secrets.github_token }}
          # CSC_LINK: ${{ secrets.windows_certs }}
          # CSC_KEY_PASSWORD: ${{ secrets.windows_certs_password }}
      - name: Linux - Upload .AppImage
        if: startsWith(matrix.os, 'ubuntu')
        uses: actions/upload-artifact@v3
        with:
          name: linux-AppImage
          path: |
            packages/keepkey-desktop/dist/*.AppImage
            packages/keepkey-desktop/dist/*.AppImage.blockmap
          if-no-files-found: error
      - name: Mac - Upload .dmg
        if: startsWith(matrix.os, 'macos')
        uses: actions/upload-artifact@v3
        with:
          name: mac-dmg
          path: |
            packages/keepkey-desktop/dist/*.dmg
            packages/keepkey-desktop/dist/*.dmg.blockmap
            packages/keepkey-desktop/dist/*.zip
            packages/keepkey-desktop/dist/*.zip.blockmap
          if-no-files-found: error
      - name: Windows - Upload .exe
        if: startsWith(matrix.os, 'windows')
        uses: actions/upload-artifact@v3
        with:
          name: windows-nsis
          path: |
            packages/keepkey-desktop/dist/*.exe
            packages/keepkey-desktop/dist/*.exe.blockmap
          if-no-files-found: error
      # Generate checksum hash after the build
      - name: Generate Checksum
        run: openssl dgst -sha256 packages/keepkey-desktop/build/* > checksum.txt
      # Upload checksum to build nodes
      - name: Upload Checksum
        uses: actions/upload-artifact@v3
        with:
          name: checksum-${{ runner.os }}
          path: checksum.txt
          if-no-files-found: error
